*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Comfortaa", sans-serif;
}
header {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    padding: 0 5%;
    position: relative;
}

.logo {
    margin-right: auto;
}
nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
}
.header-links {
    list-style-type: none;
    display: flex;
    gap: 80px;
}
.header-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
    text-transform: uppercase;
}
.header-links li a:hover {
    color: #006eff;
}
.banner-container{
    margin-top: 15px;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    flex: 1 1 300px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.6s, box-shadow 0.6s;
}
.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 15px #006eff;
}
.card-content {
    padding: 25px;
}
.card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #006eff;
}
.card p {
    line-height: 1.6;
    color: #555;
}
.services {
    text-align: center;
    margin: 50px 0;
    padding: 0 20px;
}
.services h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #000000;
    position: relative;
    display: inline-block;
}
