*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Comfortaa", sans-serif;
}
header {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    padding: 0 5%;
    position: relative;
}

.logo {
    margin-right: auto;
}
nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
}
.header-links {
    list-style-type: none;
    display: flex;
    gap: 80px;
}
.header-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
    text-transform: uppercase;
}
.header-links li a:hover {
    color: #006eff;
}